Repository ObolNetwork/helm-charts: changes, and which pre-commit hooks are due for each by the changed paths.
All: helm-docs, helm-lint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: helm-docs
        name: Helm Docs (auto-regenerates README files)
        args: []
        description: >
          Uses 'helm-docs' to create documentation from the Helm chart's 'values.yaml' file,
          and inserts the result into a corresponding 'README.md' file.
          If this hook modifies files, stage the changes (git add) and commit again.
        entry: jnorwood/helm-docs:v1.11.0
        files: (README\.md\.gotmpl|(Chart|requirements|values)\.yaml)$
        language: docker_image
        require_serial: true

      - id: helm-lint
        name: Helm Lint
        description: >
          Lint Helm charts using the same logic as CI workflow.
          Skips charts listed in .github/helm-ci-values/skip-charts.txt.
          Uses CI-specific values files when available.
        entry: bash -c 'scripts/helm-lint-pre-commit.sh'
        language: system
        files: ^charts/.+\.(yaml|yml|tpl)$
        pass_filenames: false
        require_serial: true

deploy: b2e406fa942d2e7cc098fc7c5463ef83187962e4
  aztec-node-2.3.0.tgz.prov
  charon-0.6.0.tgz.prov
  charon-cluster-0.5.0.tgz.prov
  charon-relay-0.6.0.tgz.prov
  dv-pod-0.19.0.tgz.prov
  helios-0.1.5.tgz.prov
  obol-app-0.1.1.tgz.prov
  openclaw-0.5.0.tgz.prov
  remote-signer-0.3.2.tgz.prov
Due: none

bump(dv-pod): chart 0.19.1 to publish PR #283 fix
  charts/dv-pod/Chart.yaml
  charts/dv-pod/README.md
Due: helm-docs, helm-lint

feat(charon-relay): add p2pUdpAddress config to enable QUIC transport
  charts/charon-relay/templates/statefulset.yaml
  charts/charon-relay/values.yaml
Due: helm-docs, helm-lint

Update skip-charts.txt
  .github/helm-ci-values/skip-charts.txt
Due: none

lint
  charts/charon-relay/README.md
Due: none

feat(charon-relay): add p2pUdpAddress config to enable QUIC transport (#285)
  .github/helm-ci-values/skip-charts.txt
  charts/charon-relay/README.md
  charts/charon-relay/templates/statefulset.yaml
  charts/charon-relay/values.yaml
Due: helm-docs, helm-lint

deploy: 713a4e37790cff9c34aa23683347c781e5b0d41b
  aztec-node-2.3.0.tgz.prov
  charon-0.6.0.tgz.prov
  charon-cluster-0.5.0.tgz.prov
  charon-relay-0.6.0.tgz.prov
  dv-pod-0.19.0.tgz.prov
  helios-0.1.5.tgz.prov
  obol-app-0.1.1.tgz.prov
  openclaw-0.5.0.tgz.prov
  remote-signer-0.3.2.tgz.prov
Due: none

feat(charon-relay): add UDP LoadBalancer services for QUIC support
  charts/charon-relay/Chart.yaml
  charts/charon-relay/README.md
  charts/charon-relay/templates/service.yaml
  charts/charon-relay/values.yaml
Due: helm-docs, helm-lint

feat(charon-relay): add UDP LoadBalancer services for QUIC support (#286)
  charts/charon-relay/Chart.yaml
  charts/charon-relay/README.md
  charts/charon-relay/templates/service.yaml
  charts/charon-relay/values.yaml
Due: helm-docs, helm-lint

Update index.yaml
  index.yaml
Due: none

deploy: b6815ea6df7925b88c716b499a26260a3a24c286
  aztec-node-2.3.0.tgz.prov
  charon-0.6.0.tgz.prov
  charon-cluster-0.5.0.tgz.prov
  charon-relay-0.7.0.tgz.prov
  dv-pod-0.19.0.tgz.prov
  helios-0.1.5.tgz.prov
  obol-app-0.1.1.tgz.prov
  openclaw-0.5.0.tgz.prov
  remote-signer-0.3.2.tgz.prov
Due: none

fix(charon-relay): prometheus scrapes metrics Service when metricsService.enabled
  charts/charon-relay/Chart.yaml
  charts/charon-relay/templates/prometheus-configmap.yaml
  charts/charon-relay/templates/service.yaml
  charts/charon-relay/templates/servicemonitor.yaml
  charts/charon-relay/values.yaml
Due: helm-docs, helm-lint

docs(charon-relay): regen README for 0.8.0
  charts/charon-relay/README.md
Due: none

fix(charon-relay): restrict metrics endpoint to cluster-internal access
  charts/charon-relay/Chart.yaml
  charts/charon-relay/README.md
  charts/charon-relay/templates/prometheus-configmap.yaml
  charts/charon-relay/templates/service.yaml
  charts/charon-relay/templates/servicemonitor.yaml
Due: helm-docs, helm-lint

fix(charon-relay): restrict metrics endpoint to cluster-internal access (#288)
  charts/charon-relay/Chart.yaml
  charts/charon-relay/README.md
  charts/charon-relay/templates/prometheus-configmap.yaml
  charts/charon-relay/templates/service.yaml
  charts/charon-relay/templates/servicemonitor.yaml
Due: helm-docs, helm-lint

deploy: cf2d9df69d60ae8b9142364e50b38464839a3b03
  aztec-node-2.3.0.tgz.prov
  charon-0.6.0.tgz.prov
  charon-cluster-0.5.0.tgz.prov
  charon-relay-0.8.0.tgz.prov
  dv-pod-0.19.0.tgz.prov
  helios-0.1.5.tgz.prov
  obol-app-0.1.1.tgz.prov
  openclaw-0.5.0.tgz.prov
  remote-signer-0.3.2.tgz.prov
Due: none

bump(dv-pod): chart 0.19.1 to publish PR #283 fix (#284)
  charts/dv-pod/Chart.yaml
  charts/dv-pod/README.md
Due: helm-docs, helm-lint

fix(dv-pod): mount ENR private key at non-nested path in DKG sidecar (#278)
  charts/dv-pod/templates/statefulset.yaml
Due: helm-lint

deploy: 6dc9d4c8094a81218ff1cee1ba4c2c8344f12792
  aztec-node-2.3.0.tgz.prov
  charon-0.6.0.tgz.prov
  charon-cluster-0.5.0.tgz.prov
  charon-relay-0.8.0.tgz.prov
  dv-pod-0.19.1.tgz.prov
  helios-0.1.5.tgz.prov
  obol-app-0.1.1.tgz.prov
  openclaw-0.5.0.tgz.prov
  remote-signer-0.3.2.tgz.prov
Due: none

deploy: 8e408184d36468cc05a7cb861429f2982dbae2fe
  aztec-node-2.3.0.tgz.prov
  charon-0.6.0.tgz.prov
  charon-cluster-0.5.0.tgz.prov
  charon-relay-0.8.0.tgz.prov
  dv-pod-0.19.1.tgz.prov
  helios-0.1.5.tgz.prov
  obol-app-0.1.1.tgz.prov
  openclaw-0.5.0.tgz.prov
  remote-signer-0.3.2.tgz.prov
Due: none

Bump remote-signer to use latest version, add to renovate
  .github/renovate.json
  CLAUDE.md
  charts/remote-signer/Chart.yaml
  charts/remote-signer/README.md
Due: helm-docs, helm-lint

chore(remote-signer): bump remote-signer to use latest version, add to renovate (#289)
  .github/renovate.json
  CLAUDE.md
  charts/remote-signer/Chart.yaml
  charts/remote-signer/README.md
Due: helm-docs, helm-lint

deploy: 1419a01eaa5308352dc3d38db48df443cc324ebe
  aztec-node-2.3.0.tgz.prov
  charon-0.6.0.tgz.prov
  charon-cluster-0.5.0.tgz.prov
  charon-relay-0.8.0.tgz.prov
  dv-pod-0.19.1.tgz.prov
  helios-0.1.5.tgz.prov
  obol-app-0.1.1.tgz.prov
  openclaw-0.5.0.tgz.prov
  remote-signer-0.3.3.tgz.prov
Due: none

fix: update remote-signer rollout strategy to solve hangs on obol stack
  CLAUDE.md
  charts/remote-signer/Chart.yaml
  charts/remote-signer/README.md
  charts/remote-signer/templates/deployment.yaml
  charts/remote-signer/values.schema.json
  charts/remote-signer/values.yaml
Due: helm-docs, helm-lint

deploy: 44d0d03810798387c84fa54d1557a32d46442192
  aztec-node-2.3.0.tgz.prov
  charon-0.6.0.tgz.prov
  charon-cluster-0.5.0.tgz.prov
  charon-relay-0.8.0.tgz.prov
  dv-pod-0.19.1.tgz.prov
  helios-0.1.5.tgz.prov
  obol-app-0.1.1.tgz.prov
  openclaw-0.5.0.tgz.prov
  remote-signer-0.4.0.tgz.prov
Due: none

fix(ci): stop concurrent releases dropping charts from index.yaml
  .github/workflows/lint.yml
  .github/workflows/release.yml
  scripts/reconcile-index.sh
Due: none

chore(charon): bump charon to v1.11.0
  .github/helm-ci-values/values-charon-cluster.yaml
  .github/helm-ci-values/values-charon.yaml
  charts/charon-cluster/Chart.yaml
  charts/charon-cluster/README.md
  charts/charon-cluster/values.yaml
  charts/charon-relay/Chart.yaml
  charts/charon-relay/README.md
  charts/charon-relay/values.yaml
  charts/charon/Chart.yaml
  charts/charon/README.md
  charts/charon/values.yaml
  charts/dv-pod/Chart.yaml
  charts/dv-pod/README.md
  charts/dv-pod/templates/tests/test-auto-detect-enr-secret.yaml
  charts/dv-pod/templates/tests/test-default-enr-generation.yaml
  charts/dv-pod/templates/tests/test-existing-enr-secret.yaml
  charts/dv-pod/templates/tests/test-provided-enr.yaml
  charts/dv-pod/values.yaml
Due: helm-docs, helm-lint

ci(test): pin kind v0.33.0 and test only its supported node images
  .github/workflows/test.yml
Due: none

chore(openclaw): mark chart deprecated, drop Renovate rule
  .github/renovate.json
  CLAUDE.md
  charts/openclaw/Chart.yaml
  charts/openclaw/README.md
Due: helm-docs, helm-lint
