Repository ObolNetwork/helm-charts: changes, and which pre-commit hooks are due for each by the changed paths.
All: helm-docs, helm-lint

helm-docs:
  name: Helm Docs (auto-regenerates README files)
  args: []
  description: 'Uses ''helm-docs'' to create documentation from the Helm chart''s ''values.yaml'' file, and inserts the result into a corresponding ''README.md'' file. If this hook modifies files, stage the changes (git add) and commit again.
  
  ...

helm-lint:
  name: Helm Lint
  description: 'Lint Helm charts using the same logic as CI workflow. Skips charts listed in .github/helm-ci-values/skip-charts.txt. Uses CI-specific values files when available.
  
    '
  entry: bash -c 'scripts/helm-lint-pre-commit.sh'
  language: system
  pass_filenames: false
  ...

deploy: c3386207ab07398b41e0a1ebe3604e90e515cdea
  aztec-node-2.0.0.tgz.prov
  charon-0.5.0.tgz.prov
  charon-cluster-0.4.0.tgz.prov
  charon-relay-0.3.0.tgz.prov
  dv-pod-0.11.0.tgz.prov
  helios-0.1.5.tgz.prov
  obol-app-0.1.1.tgz.prov
  openclaw-0.1.7.tgz.prov
  remote-signer-0.3.0.tgz.prov
Due: none

Update index.yaml
  index.yaml
Due: none

deploy: 3d01d9162ea808717c41b9a3a0621f6ece118aec
  aztec-node-2.0.1.tgz.prov
  charon-0.5.0.tgz.prov
  charon-cluster-0.4.0.tgz.prov
  charon-relay-0.3.0.tgz.prov
  dv-pod-0.11.0.tgz.prov
  helios-0.1.5.tgz.prov
  obol-app-0.1.1.tgz.prov
  openclaw-0.1.7.tgz.prov
  remote-signer-0.3.0.tgz.prov
Due: none

deploy: 5023158c55aefd0fc676a2938373b5718d2dbdee
  aztec-node-2.0.1.tgz.prov
  charon-0.5.0.tgz.prov
  charon-cluster-0.4.0.tgz.prov
  charon-relay-0.3.0.tgz.prov
  dv-pod-0.12.0.tgz.prov
  helios-0.1.5.tgz.prov
  obol-app-0.1.1.tgz.prov
  openclaw-0.1.7.tgz.prov
  remote-signer-0.3.0.tgz.prov
Due: none

deploy: 5dca9c25bdd44b78f5dabfbecbf87e160177bcb0
  aztec-node-2.0.1.tgz.prov
  charon-0.5.0.tgz.prov
  charon-cluster-0.4.0.tgz.prov
  charon-relay-0.3.0.tgz.prov
  dv-pod-0.13.0.tgz.prov
  helios-0.1.5.tgz.prov
  index.yaml
  obol-app-0.1.1.tgz.prov
  openclaw-0.1.7.tgz.prov
  remote-signer-0.3.0.tgz.prov
Due: none

deploy: 62de6a8f5801c889c579680a33168d74f030c2ce
  aztec-node-2.0.1.tgz.prov
  charon-0.5.0.tgz.prov
  charon-cluster-0.4.0.tgz.prov
  charon-relay-0.3.0.tgz.prov
  charon-relay-0.3.1.tgz.prov
  dv-pod-0.13.0.tgz.prov
  helios-0.1.5.tgz.prov
  index.yaml
  obol-app-0.1.1.tgz.prov
  openclaw-0.1.7.tgz.prov
  remote-signer-0.3.0.tgz.prov
Due: none

deploy: 7653469b6c2d0008370b80e9e3f764b442d9cddd
  aztec-node-2.0.1.tgz.prov
  charon-0.5.1.tgz.prov
  charon-cluster-0.4.0.tgz.prov
  charon-relay-0.3.2.tgz.prov
  dv-pod-0.13.0.tgz.prov
  helios-0.1.5.tgz.prov
  index.yaml
  obol-app-0.1.1.tgz.prov
  openclaw-0.1.7.tgz.prov
  remote-signer-0.3.0.tgz.prov
Due: none

deploy: 3ed134ab786370107be4d3e145560b97f49d599a
  aztec-node-2.0.1.tgz.prov
  charon-0.5.1.tgz.prov
  charon-cluster-0.4.0.tgz.prov
  charon-relay-0.3.2.tgz.prov
  dv-pod-0.14.0.tgz.prov
  helios-0.1.5.tgz.prov
  obol-app-0.1.1.tgz.prov
  openclaw-0.1.7.tgz.prov
  remote-signer-0.3.0.tgz.prov
Due: none

deploy: 79354731da7c23f9e6497e76a34cc94e4d1a3b16
  aztec-node-2.0.1.tgz.prov
  charon-0.5.1.tgz.prov
  charon-cluster-0.4.1.tgz.prov
  charon-relay-0.3.2.tgz.prov
  dv-pod-0.14.0.tgz.prov
  helios-0.1.5.tgz.prov
  obol-app-0.1.1.tgz.prov
  openclaw-0.1.7.tgz.prov
  remote-signer-0.3.0.tgz.prov
Due: none

chore(dv-pod): bump charon image to v1.9.2
  charts/dv-pod/Chart.yaml
  charts/dv-pod/README.md
  charts/dv-pod/values.yaml
Due: helm-docs, helm-lint

deploy: 0357b617ad837e8f99e0eef3c9f2169bc1991405
  aztec-node-2.0.1.tgz.prov
  charon-0.5.2.tgz.prov
  charon-cluster-0.4.1.tgz.prov
  charon-relay-0.3.2.tgz.prov
  dv-pod-0.14.0.tgz.prov
  helios-0.1.5.tgz.prov
  index.yaml
  obol-app-0.1.1.tgz.prov
  openclaw-0.1.7.tgz.prov
  remote-signer-0.3.0.tgz.prov
Due: none

deploy: 0f9e8c695b39848c7f4fabacbc340e821d1b3fc0
  aztec-node-2.0.1.tgz.prov
  charon-0.5.2.tgz.prov
  charon-cluster-0.4.1.tgz.prov
  charon-cluster-0.4.2.tgz.prov
  charon-relay-0.3.2.tgz.prov
  dv-pod-0.14.0.tgz.prov
  helios-0.1.5.tgz.prov
  index.yaml
  obol-app-0.1.1.tgz.prov
  openclaw-0.1.7.tgz.prov
  remote-signer-0.3.0.tgz.prov
Due: none

chore: align renovate schedule with obol-infrastructure
  .github/renovate.json
Due: none

deploy: 395454787b5b7ed7b3778f26c1f5b15d3b35cdfc
  aztec-node-2.0.1.tgz.prov
  charon-0.5.2.tgz.prov
  charon-cluster-0.4.2.tgz.prov
  charon-relay-0.3.2.tgz.prov
  dv-pod-0.14.1.tgz.prov
  helios-0.1.5.tgz.prov
  obol-app-0.1.1.tgz.prov
  openclaw-0.1.7.tgz.prov
  remote-signer-0.3.0.tgz.prov
Due: none

feat(charon-relay): add existingSecret, AWS hostname, HTTPRoute support and fixes
  charts/charon-relay/Chart.yaml
  charts/charon-relay/README.md
  charts/charon-relay/templates/httproute.yaml
  charts/charon-relay/templates/prometheus-configmap.yaml
  charts/charon-relay/templates/prometheus-deployment.yaml
  charts/charon-relay/templates/prometheus-service.yaml
  charts/charon-relay/templates/servicemonitor.yaml
  charts/charon-relay/templates/statefulset.yaml
  charts/charon-relay/templates/tests/test-connection.yaml
  charts/charon-relay/templates/validate.yaml
  charts/charon-relay/values.yaml
Due: helm-docs, helm-lint

fix(charon-cluster): set serviceMonitor.namespace to empty string
  charts/charon-cluster/README.md
  charts/charon-cluster/values.yaml
Due: helm-docs, helm-lint

fix(charon): set serviceMonitor.namespace to empty string
  charts/charon/README.md
  charts/charon/values.yaml
Due: helm-docs, helm-lint

chore: align renovate schedule with obol-infrastructure (#244)
  .github/renovate.json
Due: none

deploy: a236b6b1a4c3aa73cf58b2e2c2bf68ff68d05661
  aztec-node-2.0.1.tgz.prov
  charon-0.5.2.tgz.prov
  charon-cluster-0.4.2.tgz.prov
  charon-relay-0.3.2.tgz.prov
  dv-pod-0.14.1.tgz.prov
  helios-0.1.5.tgz.prov
  obol-app-0.1.1.tgz.prov
  openclaw-0.1.7.tgz.prov
  remote-signer-0.3.0.tgz.prov
Due: none

delete enr job pod on success
  charts/dv-pod/templates/hooks-enr-job.yaml
Due: helm-lint

feat(charon-relay): add existingSecret, AWS hostname, HTTPRoute support and fixes (#238)
  charts/charon-cluster/README.md
  charts/charon-cluster/values.yaml
  charts/charon-relay/Chart.yaml
  charts/charon-relay/README.md
  charts/charon-relay/templates/httproute.yaml
  charts/charon-relay/templates/prometheus-configmap.yaml
  charts/charon-relay/templates/prometheus-deployment.yaml
  charts/charon-relay/templates/prometheus-service.yaml
  charts/charon-relay/templates/servicemonitor.yaml
  charts/charon-relay/templates/statefulset.yaml
  charts/charon-relay/templates/tests/test-connection.yaml
  charts/charon-relay/templates/validate.yaml
  charts/charon-relay/values.yaml
  charts/charon/README.md
  charts/charon/values.yaml
Due: helm-docs, helm-lint

deploy: c7a39ae9658eb12389889bf32627deaf42f08dd4
  aztec-node-2.0.1.tgz.prov
  charon-0.5.2.tgz.prov
  charon-cluster-0.4.2.tgz.prov
  charon-relay-0.4.0.tgz.prov
  dv-pod-0.14.1.tgz.prov
  helios-0.1.5.tgz.prov
  obol-app-0.1.1.tgz.prov
  openclaw-0.1.7.tgz.prov
  remote-signer-0.3.0.tgz.prov
Due: none

deploy: e8ace74667a8e36fdff4585016c2dcc6c007784a
  aztec-node-2.0.1.tgz.prov
  charon-0.5.2.tgz.prov
  charon-cluster-0.4.2.tgz.prov
  charon-relay-0.4.0.tgz.prov
  dv-pod-0.15.0.tgz.prov
  helios-0.1.5.tgz.prov
  obol-app-0.1.1.tgz.prov
  openclaw-0.1.7.tgz.prov
  remote-signer-0.3.0.tgz.prov
Due: none

fix: pin GitHub Actions to SHA for supply chain security
  .github/workflows/add-issue-to-project.yml
  .github/workflows/label-issues.yml
  .github/workflows/lint.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
  .github/workflows/version-bump.yml
Due: none

fix: pin GitHub Actions to SHA for supply chain security (#250)
  .github/workflows/add-issue-to-project.yml
  .github/workflows/label-issues.yml
  .github/workflows/lint.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
  .github/workflows/version-bump.yml
Due: none

deploy: 742740c288d04538d5f45c600326c9fb7577830b
  aztec-node-2.0.1.tgz.prov
  charon-0.5.2.tgz.prov
  charon-cluster-0.4.2.tgz.prov
  charon-relay-0.4.0.tgz.prov
  dv-pod-0.15.0.tgz.prov
  helios-0.1.5.tgz.prov
  obol-app-0.1.1.tgz.prov
  openclaw-0.1.7.tgz.prov
  remote-signer-0.3.0.tgz.prov
Due: none

deploy: c843f1bc17aa43f6e84fc338e151077fea967774
  aztec-node-2.0.1.tgz.prov
  charon-0.5.2.tgz.prov
  charon-cluster-0.4.2.tgz.prov
  charon-relay-0.4.0.tgz.prov
  dv-pod-0.16.0.tgz.prov
  helios-0.1.5.tgz.prov
  obol-app-0.1.1.tgz.prov
  openclaw-0.1.7.tgz.prov
  remote-signer-0.3.0.tgz.prov
Due: none

Path conditions:
  helm-docs: any of: (README\.md\.gotmpl|(Chart|requirements|values)\.yaml)$
  helm-lint: any of: ^charts/.+\.(yaml|yml|tpl)$
