Repository ObolNetwork/helm-charts: changes, and which pre-commit hooks are due for each by the changed paths.
All: helm-docs, helm-lint

helm-docs:
  name: Helm Docs (auto-regenerates README files)
  args: []
  description: 'Uses ''helm-docs'' to create documentation from the Helm chart''s ''values.yaml'' file, and inserts the result into a corresponding ''README.md'' file. If this hook modifies files, stage the changes (git add) and commit again.
  
  ...

helm-lint:
  name: Helm Lint
  description: 'Lint Helm charts using the same logic as CI workflow. Skips charts listed in .github/helm-ci-values/skip-charts.txt. Uses CI-specific values files when available.
  
    '
  entry: bash -c 'scripts/helm-lint-pre-commit.sh'
  language: system
  pass_filenames: false
  ...

deploy: a56ac5f12b18be865eb9d12d74dfcb77f8db76ab
  aztec-node-2.2.1.tgz.prov
  charon-0.5.3.tgz.prov
  charon-cluster-0.4.3.tgz.prov
  charon-relay-0.5.0.tgz.prov
  dv-pod-0.17.0.tgz.prov
  helios-0.1.5.tgz.prov
  index.yaml
  obol-app-0.1.1.tgz.prov
  openclaw-0.4.0.tgz.prov
  remote-signer-0.3.0.tgz.prov
Due: none

deploy: 3b3b6cdb437398ecf6ff7a87f63e92a746a93571
  aztec-node-2.2.1.tgz.prov
  charon-0.5.3.tgz.prov
  charon-cluster-0.4.3.tgz.prov
  charon-relay-0.5.0.tgz.prov
  dv-pod-0.18.0.tgz.prov
  helios-0.1.5.tgz.prov
  obol-app-0.1.1.tgz.prov
  openclaw-0.4.0.tgz.prov
  remote-signer-0.3.0.tgz.prov
Due: none

feat(dv-pod): add fetchFeeRecipientUpdates charon flag (default true)
  charts/dv-pod/README.md
  charts/dv-pod/templates/statefulset.yaml
  charts/dv-pod/values.schema.json
  charts/dv-pod/values.yaml
Due: helm-docs, helm-lint

Add claude.md to this repo
  CLAUDE.md
Due: none

Update index.yaml
  index.yaml
Due: none

deploy: 488d9b68b759b836b422db2249e77f5173b8ac4b
  aztec-node-2.2.1.tgz.prov
  charon-0.5.3.tgz.prov
  charon-cluster-0.4.3.tgz.prov
  charon-relay-0.5.1.tgz.prov
  dv-pod-0.18.0.tgz.prov
  helios-0.1.5.tgz.prov
  index.yaml
  obol-app-0.1.1.tgz.prov
  openclaw-0.4.0.tgz.prov
  remote-signer-0.3.0.tgz.prov
Due: none

deploy: 2cbda9c1f693f7a7e3ea6d74375d1dcc0863d93d
  aztec-node-2.2.1.tgz.prov
  charon-0.5.3.tgz.prov
  charon-cluster-0.4.3.tgz.prov
  charon-relay-0.5.1.tgz.prov
  dv-pod-0.18.1.tgz.prov
  helios-0.1.5.tgz.prov
  obol-app-0.1.1.tgz.prov
  openclaw-0.4.0.tgz.prov
  remote-signer-0.3.0.tgz.prov
Due: none

deploy: 4327a90ae9631707d78a68feaa52f8f862cc5cef
  aztec-node-2.2.1.tgz.prov
  charon-0.5.3.tgz.prov
  charon-cluster-0.4.4.tgz.prov
  charon-relay-0.5.1.tgz.prov
  dv-pod-0.18.1.tgz.prov
  helios-0.1.5.tgz.prov
  obol-app-0.1.1.tgz.prov
  openclaw-0.4.0.tgz.prov
  remote-signer-0.3.0.tgz.prov
Due: none

deploy: 0a36b54b19260e80710b2586691b561c3c0f5e6f
  aztec-node-2.2.1.tgz.prov
  charon-0.5.4.tgz.prov
  charon-cluster-0.4.4.tgz.prov
  charon-relay-0.5.1.tgz.prov
  dv-pod-0.18.1.tgz.prov
  helios-0.1.5.tgz.prov
  index.yaml
  obol-app-0.1.1.tgz.prov
  openclaw-0.4.0.tgz.prov
  remote-signer-0.3.0.tgz.prov
Due: none

deploy: b85457a8334eb80acabefcca618d669f354680cd
  aztec-node-2.3.0.tgz.prov
  charon-0.5.4.tgz.prov
  charon-cluster-0.4.4.tgz.prov
  charon-relay-0.5.1.tgz.prov
  dv-pod-0.18.1.tgz.prov
  helios-0.1.5.tgz.prov
  obol-app-0.1.1.tgz.prov
  openclaw-0.4.0.tgz.prov
  remote-signer-0.3.0.tgz.prov
Due: none

bump(remote-signer): chart 0.3.1, appVersion v0.2.0
  charts/remote-signer/Chart.yaml
  charts/remote-signer/README.md
Due: helm-docs, helm-lint

bump(remote-signer): chart 0.3.1, appVersion v0.2.0 (#276)
  charts/remote-signer/Chart.yaml
  charts/remote-signer/README.md
Due: helm-docs, helm-lint

deploy: 0ac816fc71ab388c00b9617e115f16d52318ad40
  aztec-node-2.3.0.tgz.prov
  charon-0.5.4.tgz.prov
  charon-cluster-0.4.4.tgz.prov
  charon-relay-0.5.1.tgz.prov
  dv-pod-0.18.1.tgz.prov
  helios-0.1.5.tgz.prov
  obol-app-0.1.1.tgz.prov
  openclaw-0.4.0.tgz.prov
  remote-signer-0.3.1.tgz.prov
Due: none

Change remote-signer
  charts/remote-signer/Chart.yaml
  charts/remote-signer/README.md
Due: helm-docs, helm-lint

Update tag
  charts/remote-signer/Chart.yaml
  charts/remote-signer/README.md
Due: helm-docs, helm-lint

Update remote-signer to `v0.3.0` (#277)
  charts/remote-signer/Chart.yaml
  charts/remote-signer/README.md
Due: helm-docs, helm-lint

deploy: 9012e96a27276dc90b256d11e1d74782490b844a
  aztec-node-2.3.0.tgz.prov
  charon-0.5.4.tgz.prov
  charon-cluster-0.4.4.tgz.prov
  charon-relay-0.5.1.tgz.prov
  dv-pod-0.18.1.tgz.prov
  helios-0.1.5.tgz.prov
  obol-app-0.1.1.tgz.prov
  openclaw-0.4.0.tgz.prov
  remote-signer-0.3.2.tgz.prov
Due: none

Add claude.md to this repo (#275)
  CLAUDE.md
Due: none

deploy: 44a81f6034e4f8da88df7a6f8eca3df866c54570
  aztec-node-2.3.0.tgz.prov
  charon-0.5.4.tgz.prov
  charon-cluster-0.4.4.tgz.prov
  charon-relay-0.5.1.tgz.prov
  dv-pod-0.18.1.tgz.prov
  helios-0.1.5.tgz.prov
  index.yaml
  obol-app-0.1.1.tgz.prov
  openclaw-0.4.0.tgz.prov
  remote-signer-0.3.2.tgz.prov
Due: none

deploy: 0d8ee50626a549b458c11fe812a7b361d6b982b3
  aztec-node-2.3.0.tgz.prov
  charon-0.5.4.tgz.prov
  charon-cluster-0.4.4.tgz.prov
  charon-relay-0.5.1.tgz.prov
  dv-pod-0.18.1.tgz.prov
  helios-0.1.5.tgz.prov
  obol-app-0.1.1.tgz.prov
  openclaw-0.5.0.tgz.prov
  remote-signer-0.3.2.tgz.prov
Due: none

fix(dv-pod): mount ENR private key at non-nested path in DKG sidecar
  charts/dv-pod/Chart.yaml
  charts/dv-pod/README.md
  charts/dv-pod/templates/statefulset.yaml
Due: helm-docs, helm-lint

feat(dv-pod): add fetchFeeRecipientUpdates charon flag (default true) (#272)
  charts/dv-pod/README.md
  charts/dv-pod/templates/statefulset.yaml
  charts/dv-pod/values.schema.json
  charts/dv-pod/values.yaml
Due: helm-docs, helm-lint

deploy: 1f3d717dee2367a7fc6db21b471a38c16543a435
  aztec-node-2.3.0.tgz.prov
  charon-0.5.4.tgz.prov
  charon-cluster-0.4.4.tgz.prov
  charon-relay-0.5.1.tgz.prov
  dv-pod-0.18.1.tgz.prov
  helios-0.1.5.tgz.prov
  obol-app-0.1.1.tgz.prov
  openclaw-0.5.0.tgz.prov
  remote-signer-0.3.2.tgz.prov
Due: none

deploy: 6feb55c0b53ad4a2184b46f8f6d894c5dbb8bc0c
  aztec-node-2.3.0.tgz.prov
  charon-0.5.4.tgz.prov
  charon-cluster-0.5.0.tgz.prov
  charon-relay-0.5.1.tgz.prov
  dv-pod-0.18.1.tgz.prov
  helios-0.1.5.tgz.prov
  obol-app-0.1.1.tgz.prov
  openclaw-0.5.0.tgz.prov
  remote-signer-0.3.2.tgz.prov
Due: none

deploy: 0413fd182fe8d740095056be5c7997af176d7570
  aztec-node-2.3.0.tgz.prov
  charon-0.5.4.tgz.prov
  charon-cluster-0.5.0.tgz.prov
  charon-relay-0.6.0.tgz.prov
  dv-pod-0.19.0.tgz.prov
  helios-0.1.5.tgz.prov
  index.yaml
  obol-app-0.1.1.tgz.prov
  openclaw-0.5.0.tgz.prov
  remote-signer-0.3.2.tgz.prov
Due: none

deploy: 36c759a8fd1a3289465f820eb5b64bc2944d09da
  aztec-node-2.3.0.tgz.prov
  charon-0.6.0.tgz.prov
  charon-cluster-0.5.0.tgz.prov
  charon-relay-0.6.0.tgz.prov
  dv-pod-0.19.0.tgz.prov
  helios-0.1.5.tgz.prov
  obol-app-0.1.1.tgz.prov
  openclaw-0.5.0.tgz.prov
  remote-signer-0.3.2.tgz.prov
Due: none

fix(dv-pod): default fetchFeeRecipientUpdates to true when nil
  charts/dv-pod/templates/statefulset.yaml
Due: helm-lint

fix(dv-pod): default fetchFeeRecipientUpdates to true when nil (#283)
  charts/dv-pod/templates/statefulset.yaml
Due: helm-lint

Path conditions:
  helm-docs: any of: (README\.md\.gotmpl|(Chart|requirements|values)\.yaml)$
  helm-lint: any of: ^charts/.+\.(yaml|yml|tpl)$
