Repository ObolNetwork/helm-charts: changes, and which pre-commit hooks are due for each by the changed paths.
All: helm-docs, helm-lint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: helm-docs
        name: Helm Docs (auto-regenerates README files)
        args: []
        description: >
          Uses 'helm-docs' to create documentation from the Helm chart's 'values.yaml' file,
          and inserts the result into a corresponding 'README.md' file.
          If this hook modifies files, stage the changes (git add) and commit again.
        entry: jnorwood/helm-docs:v1.11.0
        files: (README\.md\.gotmpl|(Chart|requirements|values)\.yaml)$
        language: docker_image
        require_serial: true

      - id: helm-lint
        name: Helm Lint
        description: >
          Lint Helm charts using the same logic as CI workflow.
          Skips charts listed in .github/helm-ci-values/skip-charts.txt.
          Uses CI-specific values files when available.
        entry: bash -c 'scripts/helm-lint-pre-commit.sh'
        language: system
        files: ^charts/.+\.(yaml|yml|tpl)$
        pass_filenames: false
        require_serial: true

Add postUpgradeTasks to run helm-docs after version updates
  .github/renovate.json
Due: none

Update version to v1.8.0
  charts/charon-cluster/Chart.yaml
  charts/charon-cluster/values.yaml
  charts/charon/Chart.yaml
  charts/charon/values.yaml
Due: helm-docs, helm-lint

feat: add Renovate tracking for aztec-node chart with auto version bump
  .github/renovate.json
  .github/workflows/bump-chart-version.yml
  charts/aztec-node/Chart.yaml
  charts/aztec-node/values.yaml
Due: helm-docs, helm-lint

feat(aztec-node): add monitoring and central monitoring support
  charts/aztec-node/README.md
  charts/aztec-node/templates/otel-collector-configmap.yaml
  charts/aztec-node/templates/otel-collector-deployment.yaml
  charts/aztec-node/templates/otel-collector-service.yaml
  charts/aztec-node/templates/prometheus-configmap.yaml
  charts/aztec-node/templates/prometheus-deployment.yaml
  charts/aztec-node/templates/prometheus-service.yaml
  charts/aztec-node/templates/statefulset-prover-agent.yaml
  charts/aztec-node/templates/statefulset-prover-broker.yaml
  charts/aztec-node/templates/statefulset-prover-node.yaml
  charts/aztec-node/templates/statefulset.yaml
  charts/aztec-node/templates/validate.yaml
  charts/aztec-node/values.yaml
Due: helm-docs, helm-lint

Update version to v1.8.1-rc1
  charts/charon-cluster/Chart.yaml
  charts/charon-cluster/values.yaml
  charts/charon/Chart.yaml
  charts/charon/values.yaml
Due: helm-docs, helm-lint

Update version to v1.8.1
  charts/charon-cluster/Chart.yaml
  charts/charon-cluster/values.yaml
  charts/charon/Chart.yaml
  charts/charon/values.yaml
Due: helm-docs, helm-lint

chore: regenerate README.md files with helm-docs
  charts/charon-cluster/README.md
  charts/charon/README.md
  charts/dv-pod/README.md
Due: none

fix: use proximity detection instead of hardcoded typo list
  charts/dv-pod/templates/_helpers.tpl
Due: helm-lint

chore: regenerate README.md files with helm-docs
  charts/charon-cluster/README.md
  charts/charon/README.md
Due: none

Update version to v1.8.2-rc1
  charts/charon-cluster/Chart.yaml
  charts/charon-cluster/values.yaml
  charts/charon/Chart.yaml
  charts/charon/values.yaml
Due: helm-docs, helm-lint

Update version to v1.8.2
  charts/charon-cluster/Chart.yaml
  charts/charon-cluster/values.yaml
  charts/charon/Chart.yaml
  charts/charon/values.yaml
Due: helm-docs, helm-lint

Update version to v1.9.0-rc1
  charts/charon-cluster/Chart.yaml
  charts/charon-cluster/values.yaml
  charts/charon/Chart.yaml
  charts/charon/values.yaml
Due: helm-docs, helm-lint

Update version to v1.9.0-rc2
  charts/charon-cluster/Chart.yaml
  charts/charon-cluster/values.yaml
  charts/charon/Chart.yaml
  charts/charon/values.yaml
Due: helm-docs, helm-lint

feat(openclaw): add OpenClaw Helm chart
  .github/renovate.json
  README.md
  charts/openclaw/Chart.yaml
  charts/openclaw/README.md
  charts/openclaw/README.md.gotmpl
  charts/openclaw/templates/NOTES.txt
  charts/openclaw/templates/_helpers.tpl
  charts/openclaw/templates/configmap.yaml
  charts/openclaw/templates/deployment.yaml
  charts/openclaw/templates/httproute.yaml
  charts/openclaw/templates/ingress.yaml
  charts/openclaw/templates/pvc.yaml
  charts/openclaw/templates/secret.yaml
  charts/openclaw/templates/service.yaml
  charts/openclaw/templates/serviceaccount.yaml
  charts/openclaw/templates/validate.yaml
  charts/openclaw/values.yaml
Due: helm-docs, helm-lint

fix(openclaw): fix config schema, env interpolation, and harden for production
  .github/helm-ci-values/skip-charts.txt
  charts/openclaw/.helmignore
  charts/openclaw/templates/_helpers.tpl
  charts/openclaw/templates/deployment.yaml
  charts/openclaw/templates/pvc.yaml
  charts/openclaw/values.yaml
Due: helm-docs, helm-lint

docs(openclaw): regenerate README after values changes
  charts/openclaw/README.md
Due: none

chore: add pre-commit skill and CLAUDE.md project rules
  .claude/skills/pre-commit/SKILL.md
  CLAUDE.md
Due: none

Revert "chore: add pre-commit skill and CLAUDE.md project rules"
  .claude/skills/pre-commit/SKILL.md
  CLAUDE.md
Due: none

feat(openclaw): sync chart from obol-stack with multi-provider, channels, RBAC
  charts/openclaw/Chart.yaml
  charts/openclaw/README.md
  charts/openclaw/README.md.gotmpl
  charts/openclaw/templates/_helpers.tpl
  charts/openclaw/templates/deployment.yaml
  charts/openclaw/templates/init-job.yaml
  charts/openclaw/templates/role.yaml
  charts/openclaw/templates/rolebinding.yaml
  charts/openclaw/templates/secret.yaml
  charts/openclaw/templates/skills-configmap.yaml
  charts/openclaw/templates/validate.yaml
  charts/openclaw/values.schema.json
  charts/openclaw/values.yaml
Due: helm-docs, helm-lint

docs(charon): regenerate READMEs for v1.8.2
  charts/charon-cluster/README.md
  charts/charon/README.md
Due: none

fix(openclaw): update model defaults and improve chart documentation
  charts/openclaw/README.md
  charts/openclaw/README.md.gotmpl
  charts/openclaw/templates/NOTES.txt
  charts/openclaw/values.yaml
Due: helm-docs, helm-lint

fix(openclaw): add hardening validations and remove token auto-generation
  charts/openclaw/templates/_helpers.tpl
  charts/openclaw/templates/validate.yaml
Due: helm-lint

feat(openclaw): add OpenClaw Helm chart (#183)
  .github/helm-ci-values/skip-charts.txt
  .github/renovate.json
  README.md
  charts/charon-cluster/README.md
  charts/charon/README.md
  charts/openclaw/.helmignore
  charts/openclaw/Chart.yaml
  charts/openclaw/README.md
  charts/openclaw/README.md.gotmpl
  charts/openclaw/templates/NOTES.txt
  charts/openclaw/templates/_helpers.tpl
  charts/openclaw/templates/configmap.yaml
  charts/openclaw/templates/deployment.yaml
  charts/openclaw/templates/httproute.yaml
  charts/openclaw/templates/ingress.yaml
  charts/openclaw/templates/init-job.yaml
  charts/openclaw/templates/pvc.yaml
  charts/openclaw/templates/role.yaml
  charts/openclaw/templates/rolebinding.yaml
  charts/openclaw/templates/secret.yaml
  charts/openclaw/templates/service.yaml
  charts/openclaw/templates/serviceaccount.yaml
  charts/openclaw/templates/skills-configmap.yaml
  charts/openclaw/templates/validate.yaml
  charts/openclaw/values.schema.json
  charts/openclaw/values.yaml
Due: helm-docs, helm-lint

Replace dispatch-update workflow with Renovate for charon version bumps
  .github/renovate.json
  .github/workflows/dispatch-update.yml
Due: none

fix: add version-bump workflow, fix renovate config
  .github/renovate.json
  .github/workflows/version-bump.yml
Due: none

Replace dispatch-update workflow with Renovate for charon version bumps (#168)
  .github/renovate.json
  .github/workflows/dispatch-update.yml
  .github/workflows/version-bump.yml
Due: none

fix: group all dv-pod deps in one PR, extend version-bump
  .github/renovate.json
  .github/workflows/version-bump.yml
Due: none

fix: nimbus versioning, remove non-semver deps, minor bump for non-charon
  .github/renovate.json
  .github/workflows/version-bump.yml
Due: none

Group Renovate deps by chart, extend version-bump (#193)
  .github/renovate.json
  .github/workflows/version-bump.yml
Due: none

fix(ci): update charon CI values to v1.8.2 with relaxed probes
  .github/helm-ci-values/values-charon-cluster.yaml
  .github/helm-ci-values/values-charon.yaml
Due: none

Updates for linter
  charts/aztec-node/Chart.yaml
  charts/aztec-node/values.yaml
  charts/charon-cluster/README.md
  charts/charon-cluster/values.yaml
  charts/charon-relay/README.md
  charts/charon-relay/values.yaml
  charts/charon/README.md
  charts/charon/values.yaml
  charts/dv-pod/Chart.yaml
  charts/dv-pod/README.md
  charts/dv-pod/values.yaml
  charts/helios/Chart.yaml
  charts/helios/README.md
  charts/obol-app/Chart.yaml
  charts/obol-app/values.yaml
  charts/openclaw/Chart.yaml
  charts/openclaw/templates/_helpers.tpl
Due: helm-docs, helm-lint

Not sure this will work but might try
  .github/helm-ci-values/values-charon-cluster.yaml
  .github/helm-ci-values/values-charon.yaml
Due: none

fix(ci): update charon CI values to v1.8.2 with relaxed probes (#199)
  .github/helm-ci-values/values-charon-cluster.yaml
  .github/helm-ci-values/values-charon.yaml
Due: none

Update index.yaml
  index.yaml
Due: none

fix: auto-detect latest 4 k8s minor versions for test matrix
  .github/workflows/test.yml
Due: none

fix: test all charts (lint + template + dry-run), not just 2
  .github/helm-ci-values/install-charts.txt
  .github/workflows/test.yml
Due: none
