Repository ObolNetwork/helm-charts: changes, and which pre-commit hooks are due for each by the changed paths.
All: helm-docs, helm-lint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: helm-docs
        name: Helm Docs (auto-regenerates README files)
        args: []
        description: >
          Uses 'helm-docs' to create documentation from the Helm chart's 'values.yaml' file,
          and inserts the result into a corresponding 'README.md' file.
          If this hook modifies files, stage the changes (git add) and commit again.
        entry: jnorwood/helm-docs:v1.11.0
        files: (README\.md\.gotmpl|(Chart|requirements|values)\.yaml)$
        language: docker_image
        require_serial: true

      - id: helm-lint
        name: Helm Lint
        description: >
          Lint Helm charts using the same logic as CI workflow.
          Skips charts listed in .github/helm-ci-values/skip-charts.txt.
          Uses CI-specific values files when available.
        entry: bash -c 'scripts/helm-lint-pre-commit.sh'
        language: system
        files: ^charts/.+\.(yaml|yml|tpl)$
        pass_filenames: false
        require_serial: true

Revert Python version in lint workflow
  .github/workflows/lint.yml
Due: none

chore: bump validator client versions to latest stable releases
  charts/dv-pod/templates/statefulset.yaml
  charts/dv-pod/templates/tests/test-validator-keystore-config.yaml
Due: helm-lint

feat: fix and sync sts and val-keystore tests
  charts/dv-pod/templates/statefulset.yaml
  charts/dv-pod/templates/tests/test-validator-keystore-config.yaml
Due: helm-lint

fix: improve validator client skip logic for more reliable detection
  charts/dv-pod/templates/statefulset.yaml
  charts/dv-pod/templates/tests/test-validator-keystore-config.yaml
Due: helm-lint

Update version to v1.7.1
  charts/charon-cluster/Chart.yaml
  charts/charon-cluster/values.yaml
  charts/charon/Chart.yaml
  charts/charon/values.yaml
Due: helm-docs, helm-lint

Update index.yaml
  index.yaml
Due: none

feat: add QUICKSTART.md
  charts/dv-pod/QUICKSTART.md
Due: none

chore: helm docs
  charts/charon-cluster/README.md
  charts/charon/README.md
Due: none

feat: fix prysm and add TROUBLESHOOT.md
  charts/dv-pod/TROUBLESHOOT.md
  charts/dv-pod/templates/statefulset.yaml
  charts/dv-pod/values.yaml
Due: helm-docs, helm-lint

feat: fix prysm and add TROUBLESHOOT.md
  charts/dv-pod/README.md
  charts/dv-pod/TROUBLESHOOT.md
  charts/dv-pod/templates/statefulset.yaml
  charts/dv-pod/values.yaml
Due: helm-docs, helm-lint

fix: correct Prometheus scrape target in dv-pod chart
  charts/dv-pod/templates/prometheus-configmap.yaml
Due: helm-lint

fix: correct Prometheus scrape target in dv-pod chart (#141)
  charts/dv-pod/templates/prometheus-configmap.yaml
Due: helm-lint

feat: display actual ENR value in NOTES.txt with prominent visibility
  charts/dv-pod/templates/NOTES.txt
Due: none

Fix Beacon Nodes (#135)
  charts/charon-cluster/README.md
  charts/charon/README.md
  charts/dv-pod/Chart.yaml
  charts/dv-pod/QUICKSTART.md
  charts/dv-pod/README.md
  charts/dv-pod/README.md.gotmpl
  charts/dv-pod/TROUBLESHOOT.md
  charts/dv-pod/templates/prometheus-configmap.yaml
  charts/dv-pod/templates/statefulset.yaml
  charts/dv-pod/templates/tests/test-validator-keystore-config.yaml
  charts/dv-pod/values.yaml
Due: helm-docs, helm-lint

feat: expand Renovate to track all dv-pod container images
  .github/renovate.json
Due: none

feat: staging-public network
  charts/aztec-node/values.yaml
Due: helm-docs, helm-lint

chore: fix linting
  charts/aztec-node/README.md
Due: none

feat(dv-pod): add Ethereum address validation for operatorAddress
  charts/dv-pod/templates/_helpers.tpl
  charts/dv-pod/templates/validate.yaml
  charts/dv-pod/test-operator-address-validation.sh
Due: helm-lint

feat: replace chainId with network
  charts/dv-pod/QUICKSTART.md
  charts/dv-pod/README.md
  charts/dv-pod/templates/statefulset.yaml
  charts/dv-pod/values-examples/with-target-config-hash.yaml
  charts/dv-pod/values.yaml
Due: helm-docs, helm-lint

Update Chart.yaml
  charts/dv-pod/Chart.yaml
Due: helm-docs, helm-lint

Update Charon image tag to v1.7.1
  charts/dv-pod/values.yaml
Due: helm-docs, helm-lint

Update README.md
  charts/dv-pod/README.md
Due: none

Regenerate README to fix trailing newline
  charts/dv-pod/README.md
Due: none

Display actual ENR value in NOTES.txt with prominent visibility (#143)
  charts/dv-pod/Chart.yaml
  charts/dv-pod/README.md
  charts/dv-pod/templates/NOTES.txt
  charts/dv-pod/values.yaml
Due: helm-docs, helm-lint

feat: replace chainId with network parameter
  charts/dv-pod/QUICKSTART.md
  charts/dv-pod/README.md
  charts/dv-pod/templates/_helpers.tpl
  charts/dv-pod/templates/statefulset.yaml
  charts/dv-pod/templates/validate.yaml
  charts/dv-pod/values-examples/with-target-config-hash.yaml
  charts/dv-pod/values.yaml
Due: helm-docs, helm-lint

Change tls version kubectl secret creator uses
  charts/dv-pod/Chart.yaml
  charts/dv-pod/README.md
  charts/dv-pod/templates/hooks-enr-job.yaml
Due: helm-docs, helm-lint

fix: add GODEBUG flag to bypass FIPS 140-only mode in ENR job
  charts/dv-pod/templates/hooks-enr-job.yaml
  charts/dv-pod/values.yaml
Due: helm-docs, helm-lint

Change tls version kubectl secret creator uses (#147)
  charts/dv-pod/Chart.yaml
  charts/dv-pod/README.md
  charts/dv-pod/templates/hooks-enr-job.yaml
Due: helm-docs, helm-lint

Add validation for validator client type to prevent silent failures
  charts/dv-pod/templates/_helpers.tpl
  charts/dv-pod/templates/statefulset.yaml
Due: helm-lint

Add automatic network detection from chainId for validator clients
  charts/dv-pod/README.md
  charts/dv-pod/templates/_helpers.tpl
  charts/dv-pod/templates/statefulset.yaml
  charts/dv-pod/values.yaml
Due: helm-docs, helm-lint

Refactor to use network name as primary configuration parameter
  charts/dv-pod/README.md
  charts/dv-pod/templates/_helpers.tpl
  charts/dv-pod/templates/statefulset.yaml
  charts/dv-pod/values.yaml
Due: helm-docs, helm-lint

Add validation for validator client type to prevent silent failures (#148)
  charts/dv-pod/README.md
  charts/dv-pod/templates/_helpers.tpl
  charts/dv-pod/templates/statefulset.yaml
  charts/dv-pod/values.yaml
Due: helm-docs, helm-lint

feat: add geth and prysm examples
  charts/aztec-node/values-examples/README.md
  charts/aztec-node/values-examples/geth-sepolia.yaml
  charts/aztec-node/values-examples/prysm-sepolia.yaml
  charts/aztec-node/values-examples/sequencer.yaml
Due: helm-lint

feat: add geth and prysm examples
  charts/aztec-node/values-examples/prysm-sepolia.yaml
Due: helm-lint
