Repository ObolNetwork/helm-charts: changes, and which pre-commit hooks are due for each by the changed paths.
All: helm-docs, helm-lint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: helm-docs
        name: Helm Docs (auto-regenerates README files)
        args: []
        description: >
          Uses 'helm-docs' to create documentation from the Helm chart's 'values.yaml' file,
          and inserts the result into a corresponding 'README.md' file.
          If this hook modifies files, stage the changes (git add) and commit again.
        entry: jnorwood/helm-docs:v1.11.0
        files: (README\.md\.gotmpl|(Chart|requirements|values)\.yaml)$
        language: docker_image
        require_serial: true

      - id: helm-lint
        name: Helm Lint
        description: >
          Lint Helm charts using the same logic as CI workflow.
          Skips charts listed in .github/helm-ci-values/skip-charts.txt.
          Uses CI-specific values files when available.
        entry: bash -c 'scripts/helm-lint-pre-commit.sh'
        language: system
        files: ^charts/.+\.(yaml|yml|tpl)$
        pass_filenames: false
        require_serial: true

fix(ci): enable aztec-node chart linting
  .github/helm-ci-values/skip-charts.txt
Due: none

chore: cleanup
  .github/helm-ci-values/skip-charts.txt
Due: none

fix(ci): prevent helm-lint from failing on arithmetic operations
  scripts/helm-lint-pre-commit.sh
Due: none

feat!: implement standardized service naming convention
  charts/aztec-node/README.md
  charts/aztec-node/templates/_helpers.tpl
  charts/aztec-node/templates/secret.yaml
  charts/aztec-node/templates/service-prover-agent.yaml
  charts/aztec-node/templates/service-prover-broker.yaml
  charts/aztec-node/templates/service-prover-node.yaml
  charts/aztec-node/templates/statefulset-prover-agent.yaml
  charts/aztec-node/templates/statefulset-prover-broker.yaml
  charts/aztec-node/templates/statefulset-prover-node.yaml
  charts/aztec-node/templates/statefulset.yaml
  charts/aztec-node/templates/svc.headless.yaml
  charts/aztec-node/templates/svc.nodeport.yaml
  charts/aztec-node/templates/svc.yaml
  charts/aztec-node/values.yaml
Due: helm-docs, helm-lint

docs(aztec-node): fix resource naming in README examples
  charts/aztec-node/README.md
  charts/aztec-node/README.md.gotmpl
Due: helm-docs

Update version to v1.7.0
  charts/charon-cluster/Chart.yaml
  charts/charon-cluster/values.yaml
  charts/charon/Chart.yaml
  charts/charon/values.yaml
Due: helm-docs, helm-lint

Update index.yaml
  index.yaml
Due: none

Merge main
  charts/dv-pod/README.md
Due: none

Merge main
  charts/charon-cluster/README.md
  charts/charon/README.md
Due: none

feat(dv-pod): add validation for targetConfigHash parameter
  charts/dv-pod/README.md
  charts/dv-pod/templates/validate.yaml
  charts/dv-pod/values-examples/with-target-config-hash.yaml
  charts/dv-pod/values.yaml
Due: helm-docs, helm-lint

test(dv-pod): add test coverage for targetConfigHash parameter
  charts/dv-pod/templates/tests/test-dkg-sidecar-fresh-state.yaml
  charts/dv-pod/templates/tests/test-target-config-hash-set.yaml
  charts/dv-pod/values.yaml
Due: helm-docs, helm-lint

docs(dv-pod): update README with test targetConfigHash parameter
  charts/dv-pod/README.md
Due: none

Merge feat/add-target-config-hash into oisin/podreview
  charts/charon-cluster/README.md
  charts/charon/README.md
  charts/dv-pod/README.md
  charts/dv-pod/templates/statefulset.yaml
  charts/dv-pod/templates/tests/test-dkg-sidecar-fresh-state.yaml
  charts/dv-pod/templates/tests/test-target-config-hash-set.yaml
  charts/dv-pod/templates/validate.yaml
  charts/dv-pod/values-examples/with-target-config-hash.yaml
  charts/dv-pod/values.yaml
Due: helm-docs, helm-lint

docs: update helm-docs generated README files
  charts/charon-cluster/README.md
  charts/charon/README.md
  charts/dv-pod/README.md
Due: none

docs: improve targetConfigHash description
  charts/dv-pod/values.yaml
Due: helm-docs, helm-lint

feat: add support for DKG sidecar target config hash
  charts/dv-pod/templates/statefulset.yaml
  charts/dv-pod/values.yaml
Due: helm-docs, helm-lint

fix: replace invalid kubectl image with alpine/k8s
  charts/dv-pod/values.yaml
Due: helm-docs, helm-lint

Update charts/dv-pod/README.md
  charts/dv-pod/README.md
Due: none

chore: unskip aztec-node
  .github/helm-ci-values/skip-charts.txt
Due: none

Add nickame, missing flags
  charts/dv-pod/README.md
  charts/dv-pod/README.md.gotmpl
  charts/dv-pod/templates/statefulset.yaml
  charts/dv-pod/values.yaml
Due: helm-docs, helm-lint

Refresh DV-Pod (#128)
  README.md
  charts/dv-pod/Chart.yaml
  charts/dv-pod/README.md
  charts/dv-pod/README.md.gotmpl
  charts/dv-pod/templates/NOTES.txt
  charts/dv-pod/templates/_helpers.tpl
  charts/dv-pod/templates/hooks-enr-job.yaml
  charts/dv-pod/templates/statefulset.yaml
  charts/dv-pod/templates/tests/test-default-enr-generation.yaml
  charts/dv-pod/templates/tests/test-dkg-sidecar-fresh-state.yaml
  charts/dv-pod/templates/tests/test-existing-enr-secret.yaml
  charts/dv-pod/templates/tests/test-provided-enr.yaml
  charts/dv-pod/values.yaml
  charts/obol-app/templates/_helpers.tpl
Due: helm-docs, helm-lint

Work on prysm fix. Needs prysm validator wallet create && prysm validator accounts import added to setup script
  charts/dv-pod/Chart.yaml
  charts/dv-pod/README.md
  charts/dv-pod/README.md.gotmpl
  charts/dv-pod/templates/statefulset.yaml
  charts/dv-pod/values.yaml
Due: helm-docs, helm-lint

fix(dv-pod): correct Lodestar keystore import configuration
  charts/dv-pod/README.md
  charts/dv-pod/README.md.gotmpl
  charts/dv-pod/templates/statefulset.yaml
  charts/dv-pod/templates/tests/test-validator-keystore-config.yaml
  charts/dv-pod/values.yaml
Due: helm-docs, helm-lint

fix(dv-pod): implement Lodestar persisted keys backend for per-keystore passwords
  charts/dv-pod/README.md
  charts/dv-pod/templates/statefulset.yaml
  charts/dv-pod/templates/tests/test-validator-keystore-config.yaml
Due: helm-lint

chore: cleanup
  charts/dv-pod/README.md.gotmpl
  charts/dv-pod/values.yaml
Due: helm-docs, helm-lint

chore(dv-pod): add missing validatorKeystore test configuration to values.yaml
  charts/dv-pod/values.yaml
Due: helm-docs, helm-lint

chore: cleanup
  charts/dv-pod/README.md
Due: none

docs(dv-pod): regenerate README with helm-docs for validatorKeystore test config
  charts/dv-pod/README.md
Due: none

feat(dv-pod): add Prysm per-keystore password support
  charts/dv-pod/templates/statefulset.yaml
  charts/dv-pod/templates/tests/test-validator-keystore-config.yaml
  charts/dv-pod/values.yaml
  docs/prysm-keystore-implementation.md
Due: helm-docs, helm-lint

fix: update Python version to 3.13 in CI workflow
  .github/workflows/lint.yml
Due: none

docs: update README to reflect Prysm implementation
  charts/dv-pod/README.md
Due: none

chore: cleanup
  docs/prysm-keystore-implementation.md
Due: none

feat(dv-pod): add Nimbus validator keystore import with per-keystore passwords
  charts/dv-pod/README.md
  charts/dv-pod/templates/statefulset.yaml
  charts/dv-pod/templates/tests/test-validator-keystore-config.yaml
  charts/dv-pod/values.yaml
Due: helm-docs, helm-lint
