Repository ObolNetwork/helm-charts: changes, and which pre-commit hooks are due for each by the changed paths.
All: helm-docs, helm-lint

helm-docs:
  name: Helm Docs (auto-regenerates README files)
  args: []
  description: 'Uses ''helm-docs'' to create documentation from the Helm chart''s ''values.yaml'' file, and inserts the result into a corresponding ''README.md'' file. If this hook modifies files, stage the changes (git add) and commit again.
  
  ...

helm-lint:
  name: Helm Lint
  description: 'Lint Helm charts using the same logic as CI workflow. Skips charts listed in .github/helm-ci-values/skip-charts.txt. Uses CI-specific values files when available.
  
    '
  entry: bash -c 'scripts/helm-lint-pre-commit.sh'
  language: system
  pass_filenames: false
  ...

feat: add external Kubernetes secret support for aztec-node attesterPrivateKey
  charts/aztec-node/README.md
  charts/aztec-node/templates/_helpers.tpl
  charts/aztec-node/templates/secret.yaml
  charts/aztec-node/templates/statefulset.yaml
  charts/aztec-node/values.yaml
Due: helm-docs, helm-lint

chore: cleanup
  .gitignore
  charts/aztec-node/aztec-node.yaml
  charts/aztec-node/values-examples/sequencer.yaml
  setup-git-hooks.sh
Due: helm-lint

chore: cleanup
  .pre-commit-config.yaml
  Makefile
  charts/aztec-node/README.md
  charts/helios/README.md
Due: none

docs: restore external secrets section in README and add reference in Install section
  charts/aztec-node/README.md
Due: none

docs: re-add external secrets documentation section
  charts/aztec-node/README.md
Due: none

docs: move external secrets documentation to README.md.gotmpl template
  charts/aztec-node/README.md.gotmpl
Due: helm-docs

Enhance validator client type validation with actionable error messages
  charts/dv-pod/templates/_helpers.tpl
Due: helm-lint

Fix FIPS 140 mode compatibility in ENR job kubectl commands
  charts/dv-pod/templates/hooks-enr-job.yaml
Due: helm-lint

docs(dv-pod): improve Helm commands and migrate to network parameter
  charts/dv-pod/QUICKSTART.md
  charts/dv-pod/README.md
  charts/dv-pod/README.md.gotmpl
  charts/dv-pod/templates/_helpers.tpl
  charts/dv-pod/templates/statefulset.yaml
  charts/dv-pod/values-examples/with-target-config-hash.yaml
  charts/dv-pod/values.yaml
Due: helm-docs, helm-lint

feat: add sequencer mainnet example
  charts/aztec-node/values-examples/sequencer-mainnet.yaml
Due: helm-lint

Aztec node external secret support (#149)
  .gitignore
  .pre-commit-config.yaml
  Makefile
  charts/aztec-node/README.md
  charts/aztec-node/README.md.gotmpl
  charts/aztec-node/aztec-node.yaml
  charts/aztec-node/templates/_helpers.tpl
  charts/aztec-node/templates/secret.yaml
  charts/aztec-node/templates/statefulset.yaml
  charts/aztec-node/values-examples/sequencer-mainnet.yaml
  charts/aztec-node/values.yaml
  charts/helios/README.md
  setup-git-hooks.sh
Due: helm-docs, helm-lint

feat: simplify Aztec node storage configuration by using built-in defaults
  charts/aztec-node/templates/statefulset.yaml
  charts/aztec-node/values-examples/sequencer-mainnet.yaml
  charts/aztec-node/values.yaml
Due: helm-docs, helm-lint

chore: bump Aztec node version to 2.1.5
  charts/aztec-node/aztec-node.yaml
  charts/aztec-node/values-examples/sequencer-obol-mainnet.yaml
  charts/aztec-node/values-examples/sequencer.yaml
  charts/aztec-node/values.yaml
Due: helm-docs, helm-lint

feat: simplify Aztec node storage configuration by using built-in defaults
  charts/aztec-node/README.md
Due: none

feat: simplify Aztec node storage configuration by using built-in def… (#153)
  charts/aztec-node/README.md
  charts/aztec-node/templates/statefulset.yaml
  charts/aztec-node/values-examples/sequencer-mainnet.yaml
  charts/aztec-node/values.yaml
Due: helm-docs, helm-lint

feat: simplify Aztec node storage configuration by using built-in def… (#153)
  charts/aztec-node/README.md
  charts/aztec-node/aztec-node.yaml
  charts/aztec-node/templates/statefulset.yaml
  charts/aztec-node/values-examples/sequencer-mainnet.yaml
  charts/aztec-node/values-examples/sequencer.yaml
  charts/aztec-node/values.yaml
Due: helm-docs, helm-lint

chore: bump aztec-node chart to v0.2.0 with Aztec 2.1.5
  charts/aztec-node/Chart.yaml
  charts/aztec-node/README.md
Due: helm-docs, helm-lint

Add aztec-node chart (#131)
  .github/helm-ci-values/values-aztec-node.yaml
  .gitignore
  .pre-commit-config.yaml
  Makefile
  README.md
  charts/aztec-node/Chart.yaml
  charts/aztec-node/README.md
  charts/aztec-node/README.md.gotmpl
  charts/aztec-node/aztec-node.yaml
  charts/aztec-node/templates/_helpers.tpl
  charts/aztec-node/templates/clusterrole.yaml
  charts/aztec-node/templates/clusterrolebinding.yaml
  charts/aztec-node/templates/role.yaml
  charts/aztec-node/templates/rolebinding.yaml
  charts/aztec-node/templates/secret.yaml
  charts/aztec-node/templates/service-prover-agent.yaml
  charts/aztec-node/templates/service-prover-broker.yaml
  charts/aztec-node/templates/service-prover-node.yaml
  charts/aztec-node/templates/serviceaccount.yaml
  charts/aztec-node/templates/statefulset-prover-agent.yaml
  charts/aztec-node/templates/statefulset-prover-broker.yaml
  charts/aztec-node/templates/statefulset-prover-node.yaml
  charts/aztec-node/templates/statefulset.yaml
  charts/aztec-node/templates/svc.headless.yaml
  charts/aztec-node/templates/svc.nodeport.yaml
  charts/aztec-node/templates/svc.yaml
  charts/aztec-node/values-examples/README.md
  charts/aztec-node/values-examples/fullnode.yaml
  charts/aztec-node/values-examples/geth-sepolia.yaml
  charts/aztec-node/values-examples/prover.yaml
  charts/aztec-node/values-examples/prysm-sepolia.yaml
  charts/aztec-node/values-examples/sequencer-mainnet.yaml
  charts/aztec-node/values-examples/sequencer.yaml
  charts/aztec-node/values.yaml
  charts/helios/README.md
  scripts/helm-lint-pre-commit.sh
  setup-git-hooks.sh
Due: helm-docs, helm-lint

chore: skip aztec helm ci for now
  .github/helm-ci-values/skip-charts.txt
  .github/helm-ci-values/values-aztec-node.yaml
Due: none

chore: skip aztec helm ci for now (#156)
  .github/helm-ci-values/skip-charts.txt
  .github/helm-ci-values/values-aztec-node.yaml
Due: none

Update index.yaml
  index.yaml
Due: none

feat(dv-pod): Bump Prysm to v7.0.0 and remove deprecated flag
  charts/dv-pod/Chart.yaml
  charts/dv-pod/README.md
  charts/dv-pod/templates/statefulset.yaml
Due: helm-docs, helm-lint

Update version to v1.7.2
  charts/charon-cluster/Chart.yaml
  charts/charon-cluster/values.yaml
  charts/charon/Chart.yaml
  charts/charon/values.yaml
Due: helm-docs, helm-lint

docs(dv-pod): Fix chart name in README.md.gotmpl
  charts/dv-pod/README.md
  charts/dv-pod/README.md.gotmpl
Due: helm-docs

docs(dv-pod): Update QUICKSTART.md to use repository chart name
  charts/dv-pod/QUICKSTART.md
Due: none

docs(dv-pod): Add QUICKSTART.md reference to README.md
  charts/dv-pod/README.md
  charts/dv-pod/README.md.gotmpl
Due: helm-docs

dv-pod chart documentation (#160)
  charts/dv-pod/QUICKSTART.md
  charts/dv-pod/README.md
  charts/dv-pod/README.md.gotmpl
Due: helm-docs

feat(dv-pod): bump client versions
  charts/dv-pod/Chart.yaml
  charts/dv-pod/README.md
  charts/dv-pod/templates/statefulset.yaml
  charts/dv-pod/values.yaml
Due: helm-docs, helm-lint

fix(dv-pod): Write cluster-definition.json to /tmp
  charts/dv-pod/Chart.yaml
  charts/dv-pod/README.md
  charts/dv-pod/templates/statefulset.yaml
Due: helm-docs, helm-lint

Update version to v1.7.3
  charts/charon-cluster/Chart.yaml
  charts/charon-cluster/values.yaml
  charts/charon/Chart.yaml
  charts/charon/values.yaml
Due: helm-docs, helm-lint

Update version to v1.8.0-rc2
  charts/charon-cluster/Chart.yaml
  charts/charon-cluster/values.yaml
  charts/charon/Chart.yaml
  charts/charon/values.yaml
Due: helm-docs, helm-lint

Update version to v1.8.0-rc3
  charts/charon-cluster/Chart.yaml
  charts/charon-cluster/values.yaml
  charts/charon/Chart.yaml
  charts/charon/values.yaml
Due: helm-docs, helm-lint

Update Prysm validator image tag to v7.1.0
  charts/dv-pod/templates/statefulset.yaml
Due: helm-lint

Bump Prysm to v7.0.0 and remove deprecated flag (#157)
  charts/dv-pod/Chart.yaml
  charts/dv-pod/README.md
  charts/dv-pod/templates/statefulset.yaml
Due: helm-docs, helm-lint

Skip RC version bumps for charon, charon-cluster, and dv-pod charts
  .github/workflows/dispatch-update.yml
Due: none

Replace dispatch-update workflow with Renovate for charon version bumps
  .github/renovate.json
  .github/workflows/dispatch-update.yml
Due: none

Update version to v1.8.0-rc4
  charts/charon-cluster/Chart.yaml
  charts/charon-cluster/values.yaml
  charts/charon/Chart.yaml
  charts/charon/values.yaml
Due: helm-docs, helm-lint

feat: expand Renovate to track all dv-pod container images (#144)
  .github/renovate.json
Due: none

Path conditions:
  helm-docs: any of: (README\.md\.gotmpl|(Chart|requirements|values)\.yaml)$
  helm-lint: any of: ^charts/.+\.(yaml|yml|tpl)$
